In [1]:
import pandas as pd

In [4]:
df_physician = pd.read_csv(r"C:\Shilpi\BFH\MSE_Courses\Semester4\P2_BiasMitigation\New_again\P2_Code_New\csv_DS\profession_csvs\physician_ds.csv")
df_nurse = pd.read_csv(r"C:\Shilpi\BFH\MSE_Courses\Semester4\P2_BiasMitigation\New_again\P2_Code_New\csv_DS\profession_csvs\nurse_ds.csv")
df_surgeon = pd.read_csv(r"C:\Shilpi\BFH\MSE_Courses\Semester4\P2_BiasMitigation\New_again\P2_Code_New\csv_DS\profession_csvs\surgeon_ds.csv")

In [8]:
df_physician.head()

                                           hard_text profession  gender
0  Mr. Larry Howard's NPI Number is #1861605107 a...  physician    Male
1  He attended Temple University School of Medici...  physician    Male
2  He accepts Medicare insurance. Dr. Sanchez's e...  physician    Male
3  She attended medical school at Mount Sinai Sch...  physician  Female
4  Ms. Dziedzic practices medicine in Madison, CT...  physician  Female

In [7]:
# Your profession → filename mapping
files = {
    "Physician": r"C:\Shilpi\BFH\MSE_Courses\Semester4\P2_BiasMitigation\New_again\P2_Code_New\csv_DS\profession_csvs\physician_ds.csv",
    "Nurse": r"C:\Shilpi\BFH\MSE_Courses\Semester4\P2_BiasMitigation\New_again\P2_Code_New\csv_DS\profession_csvs\nurse_ds.csv",
    "Surgeon": r"C:\Shilpi\BFH\MSE_Courses\Semester4\P2_BiasMitigation\New_again\P2_Code_New\csv_DS\profession_csvs\surgeon_ds.csv"
}

In [10]:

balanced_list = []  # to store for final merged file

for profession, filename in files.items():
    # Load each profession separately
    df = pd.read_csv(filename)

    # Filter by gender (assuming 'gender' column exists)
    male_df = df[df['gender'].str.lower() == "male"]
    female_df = df[df['gender'].str.lower() == "female"]

    # Take 100 samples each
    male_sample = male_df.sample(n=100, random_state=42)
    female_sample = female_df.sample(n=100, random_state=42)

    # Combine for this profession
    prof_balanced = pd.concat([male_sample, female_sample]).reset_index(drop=True)

    # Save profession-specific balanced CSV
    prof_balanced.to_csv(f"{profession}_balanced_200.csv", index=False)

    print(f"✅ Created {profession}_balanced_200.csv with {prof_balanced.shape[0]} bios")

    # Append to master list
    balanced_list.append(prof_balanced)

# # OPTIONAL: Make one combined file of all 600 bios
# final_balanced = pd.concat(balanced_list).reset_index(drop=True)
# final_balanced.to_csv("balanced_bios_all_professions_600.csv", index=False)

# print("✅ Final merged file created: balanced_bios_all_professions_600.csv")

✅ Created Physician_balanced_200.csv with 200 bios
✅ Created Nurse_balanced_200.csv with 200 bios
✅ Created Surgeon_balanced_200.csv with 200 bios

In [15]:
df = pd.read_csv("Nurse_balanced_200.csv")
df

                                             hard_text profession  gender
0    Mr. Orallo received his Advanced Nurse Practit...      nurse    Male
1    He graduated with honors in 2012. Having more ...      nurse    Male
2    He graduated with honors in 2012. Having more ...      nurse    Male
3    He describes a typical day in the private pain...      nurse    Male
4    Edwin Auman (as his nurse) for twenty-one year...      nurse    Male
..                                                 ...        ...     ...
195  Growing up in Budapest, Sacramento, and Colley...      nurse  Female
196  She is currently working at the Huntsman Cance...      nurse  Female
197  She graduated with honors in 2012. Having more...      nurse  Female
198  She graduated with honors in 2012. Having more...      nurse  Female
199  In her role she helps patients and family memb...      nurse  Female

[200 rows x 3 columns]