In [8]:
import ast
import re
import pandas as pd
import os

In [4]:
df = pd.read_csv(r"C:\Users\cx3garg\Repo\Test\CV_CL\BIOS\nurses_extracted.csv")
df

,hard_text,profession,gender,skills_extracted,education_extracted,countries_extracted,experience_years
0,Mr. Orallo received his Advanced Nurse Practit...,nurse,Male,[],['Nurse Practitioner'],[],NaN
1,He graduated with honors in 2012. Having more ...,nurse,Male,[],[],['NURSE'],6.0
2,He graduated with honors in 2012. Having more ...,nurse,Male,[],[],['NURSE'],4.0
3,He describes a typical day in the private pain...,nurse,Male,[],[],['neuralgia'],NaN
4,Edwin Auman (as his nurse) for twenty-one year...,nurse,Male,[],[],[],NaN
...,...,...,...,...,...,...,...
195,"Growing up in Budapest, Sacramento, and Colley...",nurse,Female,[],[],"['Budapest', 'Sacramento']",NaN
196,She is currently working at the Huntsman Cance...,nurse,Female,[],[],[],NaN
197,She graduated with honors in 2012. Having more...,nurse,Female,[],[],['NURSE'],5.0
198,She graduated with honors in 2012. Having more...,nurse,Female,[],[],"['Thedacare', 'NURSE']",4.0
199,In her role she helps patients and family memb...,nurse,Female,[],[],[],NaN

In [10]:

def extract_unique_for_profession(csv_path, columns, output_file):
    df = pd.read_csv(csv_path)

    os.makedirs(os.path.dirname(output_file), exist_ok=True)

    with open(output_file, "w", encoding="utf-8") as f:

        for col in columns:
            if col not in df.columns:
                print(f"⚠ Column '{col}' not found in file {csv_path}. Skipped.")
                continue

            unique_words = set()

            for val in df[col].dropna().tolist():
                val = str(val).strip()

                # Case 1 — Python list-like ["A","B"]
                if val.startswith('[') and val.endswith(']'):
                    try:
                        items = ast.literal_eval(val)
                        if isinstance(items, list):
                            for item in items:
                                text = str(item).strip()
                                if text:
                                    unique_words.add(text)
                    except:
                        pass

                # Case 2 — Plain text / comma-separated / space-separated
                else:
                    words = re.split(r"[,\s]+", val)
                    for w in words:
                        w = w.strip()
                        if w:
                            unique_words.add(w)

            # Sort alphabetically
            unique_list = sorted(unique_words)

            # --- Write section header ---
            f.write(f"=== {col} ===\n")
            for w in unique_list:
                f.write(w + "\n")
            f.write("\n\n")  # spacing after section

    print(f"✅ Written separated column lists → {output_file}")

In [12]:
columns_to_extract = [
    "skills_extracted",
    "education_extracted",
    "countries_extracted",
    "experience_years",
]

extract_unique_for_profession(
    "./BIOS/physicians_extracted.csv",
    columns_to_extract,
    "output/physician_unique.txt"
)

extract_unique_for_profession(
    "./BIOS/nurses_extracted.csv",
    columns_to_extract,
    "output/nurse_unique.txt"
)

extract_unique_for_profession(
    "./BIOS/surgeon_extracted.csv",
    columns_to_extract,
    "output/surgeon_unique.txt"
)

✅ Written separated column lists → output/physician_unique.txt
✅ Written separated column lists → output/nurse_unique.txt
✅ Written separated column lists → output/surgeon_unique.txt